# URL de tu Google Apps Script desplegado como Web App
# Copiá la URL que te da Google al hacer "Deploy > New deployment > Web app"
VITE_SCRIPT_URL=https://script.google.com/macros/s/TU_SCRIPT_ID/exec
